[submodule "Drivers/P30/ping-cpp"]
	path = Drivers/P30/ping-cpp
	url = git@github.com:bluerobotics/ping-cpp
[submodule "Drivers/ROS_Serial/ros_lib"]
	path = Drivers/ROS_Serial/ros_lib
	url = git@github.com:UWVG/ros_lib
[submodule "Drivers/BMP180/BMP180_driver"]
	path = Drivers/BMP180/BMP180_driver
	url = git@github.com:BoschSensortec/BMP180_driver
